//- Basic Scripts
script(src=`/assets/js/jquery-2.0.3.min.js`)
script(src=`/assets/js/bootstrap.min.js`)
//- Beyond Scripts
script(src=`/assets/js/beyond.min.js`)
script(src=`/assets/js/toastr/toastr.js`)