link(rel="stylesheet", href="/module/bootstrap-3.3.7/css/bootstrap.css")
link(rel="stylesheet", href="/module/bootstrap-3.3.7/fonts/bootstrap.css")
link(rel="stylesheet", href="/stylesheets/style.css")
script(src="/module/jQuery/jquery.js")
script(src="/module/bootstrap-3.3.7/js/bootstrap.js")