extends ./lib/layout

block content
	.container
		.row.post-detail-main-container
			.col-sm-9
				.post-detail-container
					.row
						.col-sm-12
							h4 这玩意必须用严格的JSON格式，我也是醉了
							p 邓登攀 2017-03-15 10:44 点击：999999 评论：99999
					.row
						.col-sm-12
							p
								| 这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。
							p
								| 这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。这文章这么长。。。。
				.panel.panel-default
					.panel-body
						.row
							.col-sm-12
								form(role='form')
									.form-group
										textarea.form-control(placeholder='5-140个字符，非法字符自动截断。', rows='5')
									button.btn.btn-success(type='button') 提交
						.row
							.col-sm-12
								.comment-item-container
									h5 这是评论的内容。。。
									p ddp 2017-03-15 12:44
								.comment-item-container
									h5 这是评论的内容。。。
									p ddp1 2017-03-15 13:44
								.comment-item-container
									h5 这是评论的内容。。。
									p ddp3 2017-03-15 13:45