extends ./lib/layout

block content
	.container
		.row
			.col-sm-9
				.row.post-list-container
					.col-sm-12
						.post-item-container
							h4
								a(href='/post/5') 这玩意必须用严格的JSON格式，我也是醉了
							p 摘要： 这玩意必须用严格的JSON格式，我也是醉了这玩意必须用严格的JSON格式，我也是醉了这玩意必须用严格的JSON格式，我也是醉了这玩意必须用严格的JSON格式，我也是醉了这玩意必须用严格的JSON格式，我也是醉了这玩意必须用严格的JSON格式，我也是醉了
							p.tag
								| 邓登攀
								| 2017-03-15 10:44 
								i.fa.fa-eye
								|  10000 
								i.fa.fa-comment
								|  10000